.about-main {
    height: 1000px;
    width: 100%;
    margin-top: 150px;
    margin-left: 23%;
}

.about-sec {
    height: 250px;
    width: 50%;
    font-family: 'Cinzel', serif;
    color: white;
    padding: 30px;
}

.eric1 {
    background-image: url("../img/eric01.png");
}

.eric2 {
    background-image: url("../img/eric02.jpg");
}

.eric3 {
    background-image: url("../img/eric03.jpg");
}
