.contact-main {
    height: 650px;
    width: 100%;
    margin-top: 150px;
    margin-left: 10px;
}

.contact-sec {
    height: 300px;
    width: auto;
    font-family: 'Cinzel', serif;
    color: white;
    padding: 30px;
}

.col {
    width: 45%;
    height: 400px;
    float: left;
}
